*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
}

.btn {
  padding: 10px;
}

.head-container{
  height: 262px;
  position: relative;
}

.head-container-gal{
  height: 70px;
  position: relative;
}

.head-container-main{
  height:262px;
  position: relative;
}

.btn:focus{
  outline: none !important;
  box-shadow: none;
}

.logo-title-container{
  display: flex;
  justify-content: center;
  width: 100vw;
}

.carousel-inner {
  width: 280px;
  top: 50px;
}

.carousel-item img {
  height: 300px;
  filter: grayscale();
}

.logo{
  display:flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-2{
  display:flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-3{
  display:flex;
  justify-content: center;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.bar-ab-1 {
  background-image: url("images/Screenshot\ 2021-09-16\ 151828.png");
  background-size: 180px;
  background-repeat: no-repeat;
  background-position: 25% 5%;
  margin: 4px;
  width: 80px;
  height: 250px;
}

.bar-ab-2 {
  background-image: url("images/Screenshot\ 2021-09-16\ 151918.png");
  background-size: 120px;
  background-repeat: no-repeat;
  background-position: center top;
  margin: 4px;
  width: 80px;
  height: 250px;
}

.bar-ab-3 {
  background-image: url("images/Screenshot\ 2021-09-16\ 151940.png");
  background-size: 130px;
  background-repeat: no-repeat;
  background-position: 60% 10%;
  margin: 4px;
  width: 80px;
  height: 250px;

}

.bar {
  margin: 4px;
  width: 50px;
  height: 170px;
  background-color: rgb(5, 5, 5);
}

.bar-vert {
  width: 280px;
  height: 25px;
  background-color: rgb(255, 255, 255);
}

.hor{
  display: flex; 
}

.bar-hor{
  width: 10px;
  height: 250px;
  background-color: rgb(255, 255, 255);
}

.mid{
  margin: 0 40px;
}

.left{
  margin: 0 40px 0 0;
}

.right{
  margin: 0 0 0 40px;
}

.inner-li{
  display: flex;
  height: 250px;
  padding-left: 50px;
  padding-top: 5px;
}

.inner-li a{
  display: inline-block;
  padding: 60px 170px 20px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
  height: 30px;
  color: rgb(255, 255, 255);
  transform-origin: 100px 140px;
  transform: rotate(-90deg);
}

.offcanvas {
  width: 200px;
  background-color: black;
  color: white;
  opacity: 80%;
}

.offcanvas h5{
  margin-left: 10px;
  padding: 5px;
  font-size: 40px;
}

.offcanvas a{
  color: white;
  font-size: 20px;
}

.bi-list{
  height: 30px;
  width: 30px;
}

.img-container img{
  width: 100vw;
}

.caption-container {
  position: relative;
}

.caption-container .caption {
  color: rgb(255, 255, 255);
  position: absolute;
  font-weight: 600;
  font-size: 120px;
  top: 65%;
  left: 2%;
  opacity: 70%;
}

footer {
  display: flex;
  justify-content: center;
  position:relative;
  top: 70vh;
  width: 100vw;
  flex-wrap: wrap;
  color: black;
}

footer ul {
  padding: 20px 0px;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
}

footer ul li{
  padding: 2px;
  font-size: 10px;;
}

footer .bi{
  height: 20px;
  width: 20px;
}

footer ul a{
  color: rgb(0,0,0);
  text-decoration: none;
  z-index: 1;
  font-weight: 400;  
}

/* Grid */

.grid { 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-items: center;
  padding-bottom: 10px;
  padding-left: 80px;
  padding-right: 80px;
  }

.grid img {
  max-width: 100%;
}

.gal-caption{
  position: relative;
}

.gal-caption-2{
  position: relative;
}

.gal-caption h2{
  margin-bottom: 0;    
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  bottom: 2px;
  left: 3px;
}

.gal-caption-2 h2{    
  position: absolute;
  font-weight: 400;
  font-size: 15px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  bottom:2px;
  left: 10px;
}


.flex-gallery {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.flex-gallery li {
  height: 40vh;
  flex-grow: 1;
  padding: 5px;
}

.flex-gallery li:last-child {
  flex-grow: 10;
}

.flex-gallery img {
  max-height: 100%;
  min-width: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

@media (max-aspect-ratio: 1/1) {
  .flex-gallery li {
    height: 30vh;
  }
}

@media (max-aspect-ratio: 1/1) and (max-width: 480px) {
  .flex-gallery ul {
    flex-direction: row;
  }

  .flex-gallery li {
    height: auto;
    width: 100%;
  }
  .flex-gallery img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
  .gal-caption h2{
    bottom: 5px;
    left: 15px
  }
}

/*About*/

.content {
  margin: 80px 20px;
}

.about-title{
  font-size: 30px;
}

.about-container{
  display: flex;
  flex-direction: column;
  justify-content:space-around ;
  align-items: flex-start;
  padding: 5px 0px 20px 0;
}

.about-container h4{
  font-size: 20px;
}

.team-title{
  font-size: 30px;
}

.member{
  display: flex;
  flex-wrap: wrap;
}

.member .name{
  font-size: 20px;
}

.details{
  padding: 0px 10px 0px 0px   ;
}

/*Contact*/

.contact-content {
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}

.contact-content h5{
  text-align: center;
  font-size: 30px;
  margin-bottom: 30px;
}

.contact-content p{
  font-size: 20px;
}

.submit-form {
  margin: 0 10px;
  width: 100vw;
}

.submit-form form{
  width: 100%;
}

.submit-form .subtitle {
  font-weight: 300;
  font-size: 25px;
  text-align: center;
}

.submit-form form{
  width: 100%;
}

.submit-form .form-row {
  display: flex;
  justify-content: center;
}

.submit-form .form-control {
  font-size: 20px;
  padding: 10px 15px;
}

.form-row .form-control:focus {
  outline: 0;
}

.submit-form textarea {
  width: 100%;
  padding: 20px 0; 
  resize: none;
  margin-top: 2px;
  text-align: center;
  font-size: 20px;
}

form button {
  width: 100%;
  border: none;
  background-color: rgb(39, 28, 190);
  color: rgb(255,255,255);
  font-family: 'Josefin Sans', sans-serif;
  font-size: 25px;
  padding: 15px;
}


@media screen and (max-width: 600px) {
  
  /* Home */

  .carousel-inner{
    width: 240px;
    top: 75%;
  }

  .carousel-item img{
    height: 235px;
  }

  .logo{
    top: 50%;
  }

  .bar-vert{
    width: 250px;
    height: 10px;
  }

  .bar-hor{
    width: 10px;
    height: 245px;
    margin: 0;
    padding: 0;
  }

  .mid{
    margin: 0 35px;
  }

  .left{
    margin: 0 35px 0 0;
  }

  .right{
    margin: 0 0 0 35px;;
  }

  .inner-li{
    padding-left: 40px;
    padding-top: 1px;
  } 

  .offcanvas{
    width: 210px;
    max-width: none;
  }

  .navbar{
    font-size: 17px;
    height: 50px; 
  }
  
  .head-container-main{
    height: 682px;
  }

  footer {
    top: 1vh;
    bottom: 20px;
  } 
  /* Grid */

  .grid{
    grid-template-columns: repeat(1, 1fr);
    padding-left: 30px;
    padding-right: 30px;
  }

  .flex-gallery{
    padding-left: 10px;
    padding-right: 10px;
  }

  .gal-caption h2{
    left: 3.5px; 
    bottom: 2px;
  }

  /*Contact*/
  .submit-form {
    width: 95vw;
  }
  
  .submit-form .form-row {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .form-row .form-control {
    width: 95vw;
    margin-top: 5px;
  }

  .submit-form textarea{
    margin-top: 5px;
    height: 100px;
    width: 95vw;
  }

}